@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <dl>
        <dt>EnvironmentName</dt>
        <dd>@Model.EnvironmentName</dd>
        <dt>Secret</dt>
        <dd>@Model.Secret</dd>
    </dl>
</div>


